.rubricator {
  padding: 11px 0 12px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;

  .item {
    font-weight: 500;
    font-size: 12px;
    line-height: 32px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #333333;
    padding: 0 18px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    opacity: .6;
    transition: all;

    &:last-child {
      border: none;
    }

    &--active {
      opacity: 1;
    }

    &:hover {
      cursor: pointer;
    }
  }
}